.top{
    /* Rectangle */
position: absolute;
height: 147px;
left: 0px;
right: 0px;
top: 0px;
/* Сайт 1 Цвета/Доп. цвета/Заливка header */
background: rgba(222, 222, 222, 0.5);
/* Сайт 1 Эффекты/Blur header */
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */
}

.square{
    position: absolute;
    width: 147px;
    height: 147px;
    left: 0px;
    top: 0px;
    background: #1F1E1E;
}

.lenni{
    /* LENNI */
position: absolute;
width: 102.16px;
height: 23px;
left: 21.91px;
top: 50px;

/* Сайт 1 Цвета/Осн. цвета/Белый */
background: #FFFFFF;
}