.top-header{
/* Rectangle */
position: absolute;
height: 147px;
left: 0px;
right: 0px;
top: 0px;
/* Сайт 1 Цвета/Доп. цвета/Заливка header */
background: rgba(222, 222, 222, 0.5);
/* Сайт 1 Эффекты/Blur header */
backdrop-filter: blur(10px);
}
